{%extends 'base.html' %}

{% block head %}
<title>Survey</title>
{% endblock %}

{% block body %}
<h1>Survey</h1>
<p>Choose the programming language(s) that you are most comfortable in.</p>
<form>
    <input type="checkbox" value="javascript" name="option">Javascript<br>
    <input type="checkbox" value="html" name="option">HTML<br>
    <input type="checkbox" value="css" name="option">CSS<br>
    <input type="checkbox" value="python" name="option">Python<br>
    <input type="checkbox" value="typescript" name="option">TypeScript<br>
    <input type="checkbox" value="java" name="option">Java<br>
    <input type="checkbox" value="bash" name="option">Bash<br>
    <input type="checkbox" value="c#" name="option">C#<br>
    <input type="checkbox" value="c++" name="option">C++<br>
    <input type="checkbox" value="php" name="option">PHP<br>
    <input type="checkbox" value="c" name="option">C<br>
    <input type="checkbox" value="powershell" name="option">PowerShell<br>
    <input type="checkbox" value="go" name="option">Go<br>
    <input type="checkbox" value="rust" name="option">Rust<br>
    <input type="checkbox" value="kotlin" name="option">Kotlin<br>
    <input type="checkbox" value="dart" name="option">Dart<br>
    <input type="checkbox" value="ruby" name="option">Ruby<br>
    <input type="checkbox" value="assembly" name="option">Assembly<br>
    <input type="checkbox" value="swift" name="option">Swift<br>
    <input type="checkbox" value="r" name="option">R<br>
    <input type="checkbox" value="vba" name="option">VBA<br>
    <input type="checkbox" value="matlab" name="option">MATLAB<br>
    <input type="checkbox" value="lua" name="option">Lua<br>
    <input type="checkbox" value="groovy" name="option">Groovy<br>
    <input type="checkbox" value="delphi" name="option">Delphi<br>
    <input type="checkbox" value="scala" name="option">Scala<br>
    <input type="checkbox" value="objective-c" name="option">Objective-C<br>
    <input type="checkbox" value="perl" name="option">Perl<br>
    <input type="checkbox" value="haskell" name="option">Haskell<br>
    <input type="checkbox" value="elixir" name="option">Elixir<br>
    <input type="checkbox" value="julia" name="option">Julia<br>
    <input type="checkbox" value="clojure" name="option">Clojure<br>
    <input type="checkbox" value="solidity" name="option">Solidity<br>
    <input type="checkbox" value="lisp" name="option">LISP<br>
    <input type="checkbox" value="f#" name="option">F#<br>
    <input type="checkbox" value="fortran" name="option">Fortran<br>
    <input type="checkbox" value="erlang" name="option">Erlang<br>
    <input type="checkbox" value="apl" name="option">APL<br>
    <input type="checkbox" value="cobol" name="option">COBOL<br>
    <input type="checkbox" value="sas" name="option">SAS<br>
    <input type="checkbox" value="ocaml" name="option">OCaml<br>
    <input type="checkbox" value="crystal" name="option">Crystal<br>
    <input type="submit" value="Submit">
</form>
{% endblock %}