{%extends 'base.html' %}

{% block head %}
<title>Select Your Language</title>
{% endblock %}

{% block body %}
<h1>Select Your Preferred Programming Languages</h1>
<p>Choose the programming language(s) that you are most comfortable in.</p>
<form>
    <input type="checkbox" value="pizza" name="option">Pizza<br>
    <input type="checkbox" value="bread" name="option">Bread<br>
    <input type="checkbox" value="egg" name="option">Egg<br>
    <input type="submit" value="Submit">
</form>
{% endblock %}